@font-face {
    font-family: "Epilogue";
    src: url(../FONTS/static/Epilogue-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Epilogue";
    src: url(../FONTS/static/Epilogue-Regular.ttf);
    font-weight: 600;
}
@font-face {
    font-family: "Epilogue";
    src: url(../FONTS/Epilogue-Italic-VariableFont_wght.ttf);
    font-weight: 400;
}